@model Core.Entities.Film

@{
    ViewData["Title"] = "Details";
}
<div style="position:absolute;top:24%;left:24%;">
<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmLang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmLang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filmtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filmtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmDarg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmDarg)
        </dd>
        <dt class = "col-sm-2">
            <img src="~/image/@Model.FilmImage" />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filmstory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filmstory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
    </div>